
<div id="divGioHang" class="cart box_1">
    <a href="@Url.Action("XemGioHang", "GioHang")">
        <div class="total">
            @ViewBag.TongTien.ToString("#,##") VNĐ<span> @ViewBag.TongSoLuong </span> Book
        </div>


        <img src="~/Images/cart-3.png" alt=""/>
    </a>
    <p><a href="@Url.Action("XemGioHang","GioHang")" class="simpleCart_empty">ShopCart</a></p>
    <div class="clearfix"> </div>
</div>
